<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>课堂之余登录/注册</title>
<style type="text/css">
body {
	background-image: url(/static/sucai/register_login.jpg);
	background-size: cover;
}

#apDiv1 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
}
#apDiv2 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 1;
	left:682px;
	top:169px;

	
}
#apDiv3 {
	position: absolute;
	width: 200px;
	height: 115px;
	z-index: 2;
	left:532px;
	top:169px;

}
</style>
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
</head>

<body>
<div id="apDiv3"><a href="/accounts/register"><img src="/static/sucai/register_button.png" width="150" height="301" /></a></div>
<div id="apDiv2"><a href="/accounts/login"><img src="/static/sucai/login_button.png" width="150" height="301" /></a></div>
</body>
</html>
